<link rel="stylesheet" href="stylesheets/styles.css">
<div>
<img class="img" src='/images/beer.png' alt="cartoon beer">
<button><a href='/Check the Beers!'>Beers</a></button>
<button><a href='/random-beers'>Check a Random Beer</a></button>
</div>