<link rel="stylesheet" href="stylesheets/styles.css">
<div class="beer_homePage">
<img class="img" src='/images/beer.png' alt="cartoon beer">
<button><a href='/beers'>Check the Beers!</a></button>
<button><a href='/random-beer'>Check a Random Beer</a></button>
</div>